
.hero {
  padding: 7rem 0 10rem 0;
  /* background: #6998AB; */
  background: #366837ad;
  margin-bottom: 100px; }
  .hero.hero-inner {
    padding: 9rem 0 7rem 0;
    margin-bottom: auto;
    background: #1A374D; }
  .hero h1 {
    color: #ffffff;
    font-size: 60px; }
    @media (max-width: 991.98px) {
      .hero h1 {
        font-size: 45px; } }
    .hero h1 .typed-words {
      position: relative; }
      .hero h1 .typed-words:before {
        position: absolute;
        height: 7px;
        background-color: #B1D0E0;
        bottom: 0;
        left: 0;
        right: 0;
        content: ""; }
  .hero .intro-wrap {
    position: relative;
    z-index: 1; }
  .hero .slides {
    background: #ffffff;
    max-width: 800px;
    left: -100px;
    z-index: 0;
    position: relative;
    border-radius: 200px;
    -webkit-box-shadow: 0 25px 50px -10px rgba(26, 55, 77, 0.4);
    box-shadow: 0 25px 50px -10px rgba(26, 55, 77, 0.4);
    height: 608px;
    margin-bottom: -200px; }
    @media (max-width: 991.98px) {
      .hero .slides {
        left: 0; } }
    .hero .slides img {
      position: absolute;
      border-radius: 200px;
      opacity: 0;
      -webkit-transition: 2s opacity ease;
      -o-transition: 2s opacity ease;
      transition: 2s opacity ease;
      background: #ffffff; }
      .hero .slides img.active {
        opacity: 1;
        z-index: 1; }
.form {
    position: relative;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 9;
    padding: 30px;
    background: #ffffff;
    font-family: "Inter", sans-serif;
}
.form .btn{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
    font-size: 14px;
}
.form-control, .custom-select {
    border: 2px solid #e9ecef;
    font-size: 16px;
    height: 45px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}